:root {
  --backgroud-color: #0A1128;
  --card-color: #29335C;
  --button-color: #29335C;
  --text-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--backgroud-color);
}

.listing-container::-webkit-scrollbar {
  width: 0px;
}
  
.container {
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.user-container {
  width: 15%;
}

.login-container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.listing-container {
  flex-direction: row;
  width: 70%;
  justify-content: center;
  /* height: 100vh; */
  flex-wrap: wrap;
  overflow: auto;
}

.listing {
  justify-content: center;
  width: 30%;
  height: 40%;
  text-align: center;
  background-color: var(--card-color);
  margin: 10px;
}

.image-container {
  background-color: var(--card-color);
  flex-direction: row;
  height: 50%;
  justify-content: center;
}

img {
  height: 100%;
}

.category-container {
  width: 15%;
}

button {
  font-size: 90%;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background-color: var(--button-color);
  margin: 0 30px 0 30px;
}

.category-container button {
  height: 8%;
  margin-top: 10px; 
  font-size: 1.5vw;
}

.user-container button {
  margin-top: 10px;
  font-size: 100%;
  padding: 5px 10px 5px 10px
}

input, option, select {
  color: black;
  margin: 0 10% 0 10%;
  font-size: 20px;
}

.listing button {
  font-size: 200%;
}

.listing .sellerButton {
  font-size: 150%
}

.logged-in-container button {
  margin-top: 50px;
  font-size: 30px;
}


